# Python Programming language:Functions

In [1]:
x = 1
y = 2
x + y

3

In [2]:
x

1

Function for adding two numbers

In [5]:
def add_num(x,y):
    return x+y

add_num(2,3)

5

Function for adding three numbers

In [6]:
def add_num(x,y,z):
    return x+y+z

add_num(4,3,1)

8

optional parameter in functions:

In [7]:
def add_num(x,y,z=None):
    if(z==None):
        return x+y
    else:
        return x+y+z

add_num(1,2)

3

assigning a function to a variable

In [12]:
a=add_num
a(1,2,3)

6

# The Python Programming Language: Types and Sequences

 obtaining the type of variable using type inbuilt function

In [14]:
type('sai')

str

In [15]:
type(x)

int

In [16]:
type(add_num)

function

In [17]:
type(1.0)

float

tuple is a sequence of variables which itself is a immutable

In [19]:
tpl=(1,'a',3,'g')
type(tpl)

tuple

In [20]:
tpl

(1, 'a', 3, 'g')

Lists in python are similar to python tuple with the exception that they are mutable

In [25]:
l=[1,'a',3,'g']
type(l)

list

In [26]:
l

[1, 'a', 3, 'g']

We can add new items to the end of the list by append function

In [27]:
l.append(4)
l

[1, 'a', 3, 'g', 4]

In [28]:
for item in l:
    print(item)

1
a
3
g
4

accessing by indexing

In [29]:
l[0]

1

In [30]:
l[-1] #returns the last element in the list

4

In [31]:
l[1:4] #slicing over a list

['a', 3, 'g']

In [32]:
[1,2] + [3,4] #concatinate the two lists

[1, 2, 3, 4]

In [33]:
2 in l # checks whether the element is present in list or not

False

In [34]:
s='Yahoo! I am learning applied data science with python by Michigan University'

type(s)

s[3:5] #Each and every string in python is a list of characters. So slicing works wonderfully

'oo'

In [36]:
firstname = 'sai'
lastname = 'kumar'

print(firstname + ' ' + lastname) # concatination of two strings

print(firstname * 2) #Repetation of firstname 2 times

print('a' in firstname)

sai kumar
saisai
True

In [37]:
s.split(' ')[0] #splitting the string using split function based in pattern and selecting the word at 0 index

'Yahoo!'

Dictionaries in python

In [38]:
di={'sai':'nagubandisai40@gmail.com','sri latha':'lathasri0@gmail.com'}

type(di)

di['sai']

'nagubandisai40@gmail.com'

In [39]:
for name in di:
    print(di[name])

nagubandisai40@gmail.com
lathasri0@gmail.com

In [40]:
for keys,values in di.items():
    print(keys)
    print(values)

sai
nagubandisai40@gmail.com
sri latha
lathasri0@gmail.com

In [41]:
for value in di.values():
    print(value)

nagubandisai40@gmail.com
lathasri0@gmail.com

In [45]:
x=(2,3,1)
a,b,c=x #unpacking the sequence into different variables

print(a,b,c) #Make sure that the number of variables in leftside and the elements present in the list should be same

2 3 1

# Python programming language: More on Strings

In [47]:
s='sai'+ 2 # we need to type cast an object to str before performing addition

TypeError: can only concatenate str (not "int") to str

In [49]:
s = 'sai' + str(2)
print(s)

sai2